volumes:
  cache:

services:

  # The build service is responsible for building,
  # linting, and testing the code.
  build:
    container_name: "build"
    image: "docker.io/janderland/fql-build:${DOCKER_TAG}"
    pull_policy: "never"
    platform: "linux/amd64"
    depends_on:
      - "fdb"
    working_dir: "/fql"
    volumes:
      - ".:/fql"
      - "cache:/cache"

  # The fql service allows us to build and test the
  # fql Docker image.
  fql:
    container_name: "fql"
    image: "docker.io/janderland/fql:${DOCKER_TAG}"
    platform: "linux/amd64"
    depends_on:
      - "fdb"

  # The fdb service provides a single-node cluster
  # for integration testing.
  fdb:
    container_name: "fdb"
    image: "${FDB_DOCKER_IMAGE}"
    platform: "linux/amd64"
    ports:
      - "4500:4500"
